<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/">
        Lost It </a>
     
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
        <% if (user) { %>
            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <i class="material-icons">apps</i> <%= user.name %> 
              </a>
              <div class="dropdown-menu dropdown-with-icons">
                <a href="/api/v1/users/account" class="dropdown-item">
                  <i class="material-icons">account_circle</i> Profile
                </a>
                <a href="/api/v1/users/account" class="dropdown-item">
                  <i class="material-icons">settings</i> Account Setting
                </a>
                <a href="https://demos.creative-tim.com/material-kit/docs/2.0/getting-started/introduction.html" class="dropdown-item">
                  <i class="material-icons">content_paste</i> Documentation
                </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/v1/users/logout">
                <i class="material-icons">exit_to_app</i> Log Out
              </a>
            </li>

        <% } %>

            <% if (!user) { %>
              <li class="nav-item">
                <a class="nav-link" href="/api/v1/users/login">
                  <i class="material-icons">login</i> Login
                </a>
              </li>
            <% } %>

      </ul>
    </div>
  </div>
</nav>