<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %> 
  <title>
    Welcome to Lose It
  </title>
</head>

<body class="landing-page sidebar-collapse">
    <% include ../partials/navbar %> 
  <div class="page-header header-filter" data-parallax="true" style="background-color: lightskyblue; height: 500px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

                <% if (errors.length) { %>
         
                    <div class = 'alert alert-danger alert-dismissable'>
                    <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <%= errors %>
                    </div>
                     <% } %>

                     <% if (success.length) { %>
         
                        <div class = 'alert alert-success alert-dismissable'>
                        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <%= success %>
                        </div>
                         <% } %>
                   
              <% if (!user) { %>
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Get Started today to achieve your goal</h1>
                  </div>
                <form role="form" method="POST" action="/api/v1/users/register">
                    <div class="form-row">
                      <div class="col-12 col-md-9 mb-2 mb-md-0">
                        <input type="email" name="email" id="email"class="form-control form-control-lg" placeholder="Enter your email..." style="color: white;">
                      </div>
                      <div class="col-12 col-md-3">
                        <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                      </div>
                    </div>
                  </form>
              <% } %>

              <% if (user) { %>
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Welcome Back <%= user.name %> </h1>
                  </div>
              <% } %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="main main-raised">
    <div class="container">

        <% if (user) { %>

            
            <% if (!user.userInfo.userInfo) { %>
                <div class="section text-center">
                    <div class="row">
                      <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Before we get Started , Please Complete your  <a href="/api/v1/users/profile" style="text-decoration: underline; color: skyblue;">PROFILE </a> </h2>
                      </div>
                    </div>
                  </div>
            <% } %>
            <% } %>
                  <% if (!user) { %>
                    <div class="section text-center">
                        <div class="row">
                          <div class="col-md-8 ml-auto mr-auto">
                            <h2 class="title">placeholder</h2>
                            <h5 class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h5>
                          </div>
                        </div>
                        <div class="features">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="info">
                                <div class="icon icon-info">
                                  <i class="material-icons">chat</i>
                                </div>
                                <h4 class="info-title">placeholder</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="info">
                                <div class="icon icon-success">
                                  <i class="material-icons">verified_user</i>
                                </div>
                                <h4 class="info-title">placeholder</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="info">
                                <div class="icon icon-danger">
                                  <i class="material-icons">plceeholder</i>
                                </div>
                                <h4 class="info-title">Fingerprint</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="section text-center">
                        <div class="row">
                          <div class="col-md-8 ml-auto mr-auto">
                            <h2 class="title">placeholder</h2>
                            <h5 class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h5>
                          </div>
                        </div>
                        <div class="features">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="info">
                                <div class="icon icon-info">
                                  <i class="material-icons">chat</i>
                                </div>
                                <h4 class="info-title">placeholder</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="info">
                                <div class="icon icon-success">
                                  <i class="material-icons">verified_user</i>
                                </div>
                                <h4 class="info-title">placeholder</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="info">
                                <div class="icon icon-danger">
                                  <i class="material-icons">plceeholder</i>
                                </div>
                                <h4 class="info-title">Fingerprint</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  <% } %>
           
    </div>
  </div>

  <% include ../partials/footer %> 
  <% include ../partials/script %> 
  
</body>

</html>